/* daily-tracking-stats.component.css */
/* Animation for the counter */
.counter {
  transition: all 0.5s ease;
}

/* Modal transitions */
#aggregatorModal, #retailerModal {
  transition: opacity 0.3s ease;
}

/* Chart tooltip styling */
.apexcharts-tooltip {
  background: #ffffff !important;
  color: #333333;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #e5e7eb !important;
  border-radius: 0.375rem !important;
}

.apexcharts-tooltip-title {
  background: #f3f4f6 !important;
  border-bottom: 1px solid #e5e7eb !important;
  font-weight: 600 !important;
}


/* daily-tracking-stats.component.css */
apx-chart {
  display: block;
  width: 100%;
  min-height: 350px;
}




/* Largeur fixe pour le bloc "items per page" si besoin */
.items-per-page {
  min-width: 150px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #e5e7eb !important;
}

/* Limiter la largeur max des boutons de page */
.pagination button {
  min-width: 36px;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #e5e7eb !important;
}


